{% extends "base.html.twig" %}
{% block title %}
    Movies Page
{% endblock %}
{% block body %}
    <h1 class="bg-blue-500 text-2xl text-center font-bold">wooohoooo</h1>
    <img src="{{ asset('build/images/1.d731a740.png') }}" alt="">
{% endblock %}